<%= form_for(@bike) do |f| %>
  <% if @bike.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bike.errors.count, "error") %> prohibited this bike from being saved:</h2>

      <ul>
      <% @bike.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
 <% if is_admin? %>

  <div class="field">
    <%= f.label :category %><br>
     <%= f.select :category, [['Mountain Bike',0], ['Hybrid Bike',1], ['BMX Bike',2] , ['Tandem Bike',3]  ]%>
  </div>
     <div class="field">
      <%= f.label :status %><br>
      <!--< % = f.number_field :status %>-->
      <%= f.select :status, [['Available',0], ['Reparing',1] ]%>
    </div>
<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
