<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bike.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bike.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bike.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @bike.category %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bike.status_sym %>
</p>

<%= link_to 'Back', bikes_path %>
