<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bike.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bike.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bike.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @bike.category_str %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bike.status_sym %>
</p>


<%= form_for(@rental) do |f| %>
  <%= hidden_field(:rental, :bike_id, :value => @bike.id)%>
  <%= hidden_field(:rental, :user_id, :value => current_user.id)%>
  <%= f.label :days %>
  <%= number_field_tag 'rental[days]'%>

  <%= f.button %>
<% end %>

<%= link_to 'Back', bikes_path %>
